.CorrectBar {
  display: flex;
  justify-content: center;
  align-items: center;  
  background: #a4dd00;
  /* border: 2px solid blue; */
}

.CorrectBar h1 {
  color: white;
  height: 6em;
  color: "black";
  font-size: 1em;
  text-align: center;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
}
