.Form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Form form {
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: none; */
}

.Form input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
  /* height: 2em; */
  width: 2em;
  /* border-radius: 0.4em; */
  font-size: 2em;
  /* outline: none; */
  /* border-bottom: double; */
  /* border: none; */
}

input:focus {
  border-color: green;
}
