/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*---------- TABLET ----------*/
/* Change the background colors below */
/* @media (min-width: 768px) {
  body {
    background-color: "red";
  }
} */

/*---------- Monitors ----------*/
/* @media (min-width: 1200px) {
  body {
    background-color: "yellow";
  }
} */
