.Numbers-container {
  display: flex;
  justify-content: center;
  /* max-width: 60%; */
  /* min-width: 40%; */
  flex-wrap: wrap;
  padding-left: 2em;
  padding-right: 2em;
  /* border: 2px solid red; */
}

.Number-element {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
  text-align: center;
}

.Number-element button {
  display: inline-block;

  width: 2em;
  height: 2em;
  border: 2px solid #888888;
  font-size: 1.2em;
  background: white;
  border-radius: 0.3em;
  color: #888888;
  /* box-shadow: 2px 3px #888888; */
  cursor: pointer;
  /* this disable the button select highlight color */
  outline: none;
}

/* 
#Number-element:active {
  background: yellow;
} */
