.Numbers-container {
  display: flex;
  justify-content: center;
  /* max-width: 60%; */
  /* min-width: 40%; */
  flex-wrap: wrap;
  padding-left: 2em;
  padding-right: 2em;
}

.Number-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
  text-align: center;
}
