.progress-bar {
  position: relative;
  height: 1.7em;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 50px;
  border: 2px solid #888888;
}

.filler {
  background: #f06292;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
